<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>239981555996-en0unbe5jnrr55mikiqccqlb2jddjlar.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.239981555996-en0unbe5jnrr55mikiqccqlb2jddjlar</string>
	<key>API_KEY</key>
	<string>AIzaSyCwxGFD1gjEh6Td3QgyhnOCcADYZ9xH2HA</string>
	<key>GCM_SENDER_ID</key>
	<string>239981555996</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>-.RecepyBook</string>
	<key>PROJECT_ID</key>
	<string>recipebook-8bd91</string>
	<key>STORAGE_BUCKET</key>
	<string>recipebook-8bd91.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:239981555996:ios:df2f332e2a06100a670ad9</string>
</dict>
</plist>